* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,1)), url(images/bg.jpeg) center no-repeat;
    background-size: cover;
    /* position: fixed; */
}

.heading {
    color: #fff;
    font-size: 45px;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    white-space: pre-wrap;
    line-height: 40pt;
}

.heading::after {
    content: '';
    width: 3px;
    height: 42px;
    background-color: #fff;
    position: absolute;
    animation: blinking 1s 3s infinite;
}

@keyframes blinking {
    0% {background-color: #fff;}
    50% {background-color: transparent;}
    100% {background-color: #fff;}
}

.cards-wrapper {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
    padding-bottom: 5%;
}

.card {
    max-width: 260px;
    background-color: #eee;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .5s;
    /* justify-content: space-evenly; */
}

@keyframes cardDisplay {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.card:nth-child(1) {
    animation: cardDisplay 3s 3.3s backwards;
}

.card:nth-child(2) {
    animation: cardDisplay 3s 4s backwards;
}

.card:nth-child(3) {
    animation: cardDisplay 3s 4.7s backwards;
}

.card:hover {
    transform: scale(1.1);
}

.card:hover button {
    animation: btnAnim 1.5s 0.5s linear;
}

@keyframes btnAnim {
    0% {transform: translateY(0) rotateZ(0)}
    20% {transform: translateY(0) rotateZ(0)}
    40% {transform: translateY(-16px) rotateZ(-6deg)}
    50% {transform: translateY(0) rotateZ(0)}
    60% {transform: translateY(-10px) rotateZ(6deg)}
    70% {transform: translateY(0) rotateZ(0)}
    80% {transform: translateY(-5px) rotateZ(4deg)}
    100% {transform: translateY(0) rotateZ(0)}
}

.image-top {
    max-width: 101%;
    height: 200px;
    object-fit: cover;
    clip-path: polygon(0 0, 100% 0, 100% 67%, 0% 100%);
}

.profile-image {
    width: 110px;
    height: 110px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: -110px;
    z-index: 10;
    border: 10px solid #eee;
}

.card h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    color: #555;
    margin: 10px;
}

.job {
    font-family: 'Montserrat', sans-serif;
    color: #777;
    font-weight: 300;
}

.about-me {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    width: 90%;
    margin: 15px 0;
    font-style: italic;
    color: #444;
    text-align: center;
}

.card button {
    width: 120px;
    padding: 7px;
    margin: 10px 0;
    background-color: #014c61;
    border: none;
    outline: none;
    border-radius: 25px;
    font-family: 'Josefin Sans', sans-serif;
    color: #eee;
    box-shadow: 5px 5px 20px rgba(0,0,0,.4);
}

.social-icons {
    width: 150px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
    border-top: 1px solid #999;
    padding-top: 20px;
}

.social-icons i {
    font-size: 18px;
}

.fa-facebook-f {
    color: #3b5999;
}

.fa-youtube {
    color: #cd201f;
}

.fa-twitter {
    color: #55acee;
}

.fa-linkedin {
    color: #0a66c2;
}

@media (max-width: 1280px) {
    .cards-wrapper {
        width: 100%;
    }

    .card {
        margin: 0 15px 50px 15px;
    }
}

@media (max-width: 860px) {
    .cards-wrapper {
        flex-wrap: wrap;
    }
}

@media (max-width: 776px) {
    .cards-wrapper {
        top: 30%;
    }

    .heading {
        width: 90%;
        font-size: 42px;
    }
}